:root {
    --fw-xl: 700;
    --fw-lg: 600;
    --fw-md: 500;
    --fw-sm: 400;

    --fs-5xl: 66px;
    --fs-4xl: 46px;
    --fs-3xl: 26px;
    --fs-2xl: 22px;
    --fs-xl: 20px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;

    --text-grey: #B2CBDC;
    --text-navy: #001D49;
    --bg-accordian-header: #031227;
    --text-dark-grey: #B3B8BE;
    --bg-blue: #031227;
}

.bg_blue {
    background-color: #031227;
}

.bg_accordian_header {
    background-color: var(--bg-accordian-header);
}

.text_dark_grey {
    color: var(--text-dark-grey);
}

.text_navy {
    color: var(--text-navy);
}

.text_grey {
    color: var(--text-grey);
}

.fw_xl {
    font-weight: var(--fw-xl);
}

.fw_lg {
    font-weight: var(--fw-lg);
}

.fw_md {
    font-weight: var(--fw-md);
}

.fw_sm {
    font-weight: var(--fw-sm);
}

.fs_5xl {
    font-size: var(--fs-5xl);
}

.fs_4xl {
    font-size: var(--fs-4xl);
}

.fs_3xl {
    font-size: var(--fs-3xl);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_sm {
    font-size: var(--fs-sm);
}

@media(min-width:768px) {
    :root {

        --fs-5xl: 70px;
        --fs-4xl: 50px;
        --fs-3xl: 30px;
        --fs-2xl: 25px;
        --fs-xl: 22px;
        --fs-lg: 20px;
        --fs-md: 18px;
        --fs-sm: 16px;
    }
}