@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none !important;
    list-style-type: none !important;

}

.header-background {
    background-image: url(/assets/images/png/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img {
    background-image: url(/assets/images/png/Homepage-2-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gap-80 {
    gap: 80px;
}

.cursor {
    cursor: pointer;
}

.transition {
    transition: all 100ms linear;
}

.font-family {
    font-family: "Poppins", sans-serif;
}

.font-family-mont {
    font-family: "Montserrat", sans-serif;
}

.text-wrap {
    text-wrap: nowrap !important;
}

/* line-height-property */
.line-height-124 {
    line-height: 124px;
}

.line-height-150 {
    line-height: 150%;
}

.line-height-100 {
    line-height: 100%;
}

.line-height-41 {
    line-height: 41px;
}

.line-height-136 {
    line-height: 136%;
}

.header-button {
    padding: 16px 40px;
    border-radius: 45.5px;
}

.header-button:hover {
    scale: 1.06;

}

s {
    text-decoration-line: line-through !important;
}

.section2-button {
    border-radius: 45.5px;
    padding: 10px 20px;
}

.section2-button:hover {
    scale: 1.04;
    transition: scale 100ms linear;

}

.parent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 /4;
}

.card1 {
    width: 426px;
    height: 511px;
    border-radius: 20px;
    padding: 40px;
    background-color: #031227;
}

.section3{
    padding-top: 125px;
    padding-bottom: 130px;
}





/* margin property */

.mt-52 {
    margin-top: 52px;
}





/* padding property */
.pt-265 {
    padding-top: 265px;
}

.pt-265 {
    padding-top: 265px;
}

.pb-91 {
    padding-bottom: 91px;
}

.pt-28 {
    padding-top: 28px;
}
.pt-44{
    padding-top: 44px;
}






/* max-width */
.max-w-547 {
    max-width: 547px;
}
.w-117{
    width: 117px;
}
.h-145{
    height: 145px;
}