@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none !important;
    list-style-type: none !important;
}

.header-background {
    background-image: url(/assets/images/png/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img {
    background: url(/assets/images/png/Homepage-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gap-80 {
    gap: 80px;
}

.cursor {
    cursor: pointer;
}

.transition {
    transition: all 100ms linear;
}

.font-family {
    font-family: "Poppins", sans-serif;
}

.font-family-mont {
    font-family: "Montserrat", sans-serif;
}

.text-wrap {
    text-wrap: nowrap !important;
}

.white-space {
    white-space: nowrap;
}

/* line-height-property */
.line-height-124 {
    line-height: 124px;
}

.line-height-150 {
    line-height: 150%;
}

.line-height-100 {
    line-height: 100%;
}

.line-height-41 {
    line-height: 41px;
}

.line-height-136 {
    line-height: 136%;
}

.line-height-124 {
    line-height: 124%;
}

.header-button {
    padding: 16px 40px;
    border-radius: 45.5px;
    border: none;
}

s {
    text-decoration-line: line-through !important;
}

.section2-button {
    border-radius: 45.5px;
    padding: 10px 20px;
}
.card1 {
    min-height: 350px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 20px;
}

.section3 img {
    max-width: 100%;
    height: auto;
}

.section3 p {
    white-space: normal !important;
}

.parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.parent1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.border-20 {
    border-radius: 30px;
}

.section3 {
    padding-top: 125px;
    padding-bottom: 100px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    border: 2px dashed white;
    content: '';
    position: absolute;
    top: 7px;
    bottom: -7px;
    left: 50%;
    margin-left: -3px;
}

.box1 {
    padding: 0 31px 146px 31px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.box1::after {
    content: '';
    position: absolute;
    width: 43px;
    height: 43px;
    right: -20px;
    background-color: #009DFF;
    border: 3.23px solid #FFF;
    top: 6px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}
.content {
    position: relative;
    border-radius: 6px;
    gap: 24px;
    max-width: 405px;
}

.right::after {
    left: -22px;
}

.footer-bg {
    background-image: url(/assets/images/png/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* 30px gap between accordion items */
    max-width: 600px;
    margin: 0 auto;
}

.accordion-item {
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 30px;
}

.accordion-arrow {
    transition: transform 0.3s ease;
}

.accordion-arrow.rotate {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 16px;
    background-color: #000D1E;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content.open {
    padding: 16px;
    max-height: 200px;
    /* or adjust as needed */
}

/* margin property */

.mt-52 {
    margin-top: 52px;
}

.mt-63 {
    margin-top: 63px;
}

.mt-108 {
    margin-top: 108px !important;
}

/* padding property */
.pt-265 {
    padding-top: 265px;
}

.pt-140 {
    padding-top: 140px;
}

.mb-200 {
    margin-bottom: 200px;
}

.pt-28 {
    padding-top: 28px;
}

.pt-44 {
    padding-top: 44px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-110 {
    margin-top: 110px;
}

.mb-47 {
    margin-bottom: 47px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

/* max-width */
.max-w-547 {
    max-width: 547px;
}

.max-w-768 {
    max-width: 768px;
}
.max-w-336{
    max-width: 336px;
}
@media(min-width:576px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .parent1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
    .card1{
        min-height: 511px;
    }
}

@media(min-width:768px) {
    /* hover effect */

    .header-button:hover {
        scale: 1.06;
    }

    .online-platform:hover {
        scale: 1.09;
    }

    .gap-md-50 {
        gap: 50px;
    }

    .nav-content:hover {
        scale: 1.09;
        text-decoration: underline !important;
    }

    nav a:hover {
        scale: 1.3;
    }

    .footer-content:hover {
        scale: 1.09;
        text-decoration: underline !important;
    }

    .email:hover {
        scale: 1.09;
        text-decoration: underline !important;
    }

    .icon:hover {
        scale: 1.2;
    }

    .icon:hover path {
        fill: #009DFF !important;
    }

    .section2-button:hover {
        scale: 1.2;
    }

    .card1:hover {
        scale: 1.05;
    }

    .card1 {
        padding: 40px;
    }

    .parent1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 25px;
    }
}

@media(min-width:992px) {

    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }

    .gap-80 {
        gap: 80px;
    }

    .section3 {
        padding-bottom: 130px;
    }
}

@media(max-width:768px) {
    .timeline:after {
        left: 20px;
    }

    .right {
        left: 20px;
    }

    .left {
        left: 22px;
    }

    .left:after {
        left: -25px;
    }

    .box1 {
        width: 90%;
        padding: 0 31px 110px 31px;
    }
}

@media(max-width:768px) {
    .menu-icon {
        width: 50px;
        height: 30px;
        cursor: pointer;
        border: none;
        display: flex;
        flex-direction: column;
        background: unset;
        justify-content: space-between;
        z-index: 2;
    }

    .menu-icon span {
        width: 100%;
        height: 5px;
        background-color: #E8F1FF;
        border-radius: 5px;
        transition: all 100ms linear;
    }

    .menu-list {
        flex-direction: column;
        top: 0;
        background-color: #001D49;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: all 100ms linear;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .menu-list.show {
        right: 0;
    }

    .activeNavBar .menu-icon span:first-child {
        transform: rotate(45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon span:nth-child(2) {
        display: none;
        pointer-events: none;
    }

    .activeNavBar .menu-icon span:last-child {
        transform: rotate(-45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon {
        height: 34px;
    }

}