@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none !important;
    list-style-type: none !important;

}

.header-background {
    background-image: url(/assets/images/png/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img {
    background-image: url(/assets/images/png/Homepage-2-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gap-80 {
    gap: 80px;
}

.cursor {
    cursor: pointer;
}

.transition {
    transition: all 100ms linear;
}

.font-family {
    font-family: "Poppins", sans-serif;
}

.font-family-mont {
    font-family: "Montserrat", sans-serif;
}

.text-wrap {
    text-wrap: nowrap !important;
}

/* line-height-property */
.line-height-124 {
    line-height: 124px;
}

.line-height-150 {
    line-height: 150%;
}

.line-height-100 {
    line-height: 100%;
}

.line-height-41 {
    line-height: 41px;
}

.line-height-136 {
    line-height: 136%;
}

.line-height-124 {
    line-height: 124%;
}


.header-button {
    padding: 16px 40px;
    border-radius: 45.5px;
    border: none;
}

s {
    text-decoration-line: line-through !important;
}

.section2-button {
    border-radius: 45.5px;
    padding: 10px 20px;
}

.section2-button:hover {
    scale: 1.04;
    transition: scale 100ms linear;

}

.parent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

/* .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 /4; } */

.card1 {
    max-width: 426px;
    height: 511px;
    border-radius: 20px;
    padding: 40px;
    background-color: #031227;
}

.section3 {
    padding-top: 125px;
    padding-bottom: 130px;
}

.content {
    /* background-color: red; */
    border-radius: 10px;
}

.timeline {
    position: relative;
    margin: 0 auto;
    max-width: 1240px;

}

.timeline::after {
    content: "";
    position: absolute;
    border: 1px dashed white;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 0;
}

.box1 {
    width: 50%;
    padding: 10px 40px;
    /* background-color:green; */

}

.box1::after {
    content: "";
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    left: -22px;
    top: 0px;
    background-color: #009DFF;
    border: 3.23px solid #FFFFFF;
    z-index: 1;
}

.right {
    left: 0;
}

.box1 {
    width: 100%;
    padding-left: 40px;
}

.timeline::after {
    left: 0px;
}

.left::after,
.right:after {
    left: -20px;
}

.footer-bg {
    background-image: url(/assets/images/png/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient {
    background: linear-gradient(180deg, rgba(0, 10, 26, 0) 0%, #000A1A 100%);
    height: 230px;
    width: 100%;

}



.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* 30px gap between accordion items */
    max-width: 600px;
    margin: 0 auto;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 30px;
}

.accordion-arrow {
    transition: transform 0.3s ease;
}

.accordion-arrow.rotate {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 16px;
    background-color: #000D1E;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content.open {
    padding: 16px;
    max-height: 200px;
    /* or adjust as needed */
}

/* margin property */

.mt-52 {
    margin-top: 52px;
}

.mt-63 {
    margin-top: 63px;
}

.mt-108 {
    margin-top: 108px !important;
}



/* padding property */
.pt-265 {
    padding-top: 265px;
}

.pt-140 {
    padding-top: 140px;
}

.mb-91 {
    margin-bottom: 91px;
}

.pt-28 {
    padding-top: 28px;
}

.pt-44 {
    padding-top: 44px;
}

.pt-100 {
    padding-top: 100px;
}


/* max-width */
.max-w-547 {
    max-width: 547px;
}

.max-w-768 {
    max-width: 768px;
}

@media(min-width:576px) {
    .parent {
        display: grid;
        width: 100;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media(min-width:768px) {

    .left::after {
        left: 325px;
    }

    .right {
        left: 50%;
    }

    .left {
        left: 0;
    }

    .timeline::after {
        left: 50%;
    }

    .box1 {
        width: 50%;
    }

    /* hover effect */

    .header-button:hover {
        scale: 1.06;

    }

    .online-platform:hover {
        scale: 1.09;
    }

    .gap-md-50 {
        gap: 50px;
    }

    .nav-content:hover {
        scale: 1.09;
        text-decoration: underline !important;
        transition: all 100ms linear;

    }

    nav a:hover {
        scale: 1.1;

    }
}


@media(min-width:992px) {

    .parent {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);

    }

    .left::after {
        left: 600px;
    }

    .gap-80 {
        gap: 80px;
    }

}


@media(max-width:768px) {
    .menu-icon {
        width: 50px;
        height: 30px;
        cursor: pointer;
        border: none;
        display: flex;
        flex-direction: column;
        background: unset;
        justify-content: space-between;
        z-index: 2;
    }

    .menu-icon span {
        width: 100%;
        height: 5px;
        background-color: #E8F1FF;
        border-radius: 5px;
        transition: all 100ms linear;
    }

    .menu-list {
        flex-direction: column;
        top: 0;
        background-color: #001D49;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: all 100ms linear;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .menu-list.show {
        right: 0;
    }

    .activeNavBar .menu-icon span:first-child {
        transform: rotate(45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon span:nth-child(2) {
        display: none;
        pointer-events: none;
    }

    .activeNavBar .menu-icon span:last-child {
        transform: rotate(-45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon {
        height: 34px;
    }

}